/* 各页内容部分 */
/* 通栏区域 */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
    overflow: hidden;
}

/* 图片区域 */
.banner .pic {
    display: flex;
    /* flex布局，父级宽度不够，子级被挤小，增大父级尺寸 */
    width: 3720px;
}

/* 侧导航区域 */
.banner .subnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .subnav li {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 12px;
    height: 50px;
    /* background-color: pink; */
    line-height: 50px;
    color: white;
    cursor: pointer;
}

/* a所有都是小字，分类是大字 */
.banner .subnav li a {
    margin-right: 5px;
    font-size: 14px;
    color: #fff;    
}

.banner .subnav li .classify {
    margin-right: 14px;
    font-size: 16px;
}

.banner .subnav li .iconfont {
    font-size: 14px;
}

.banner .subnav li:hover {
    background-color: #00be9a;
}

/* 圆点轮播区域 */
.banner ol {
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 16px;
}

.banner ol li {
    margin-left: 8px;
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    cursor: pointer;
}

.banner ol li i {
    margin: 4px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

/* 选中状态 */
.banner ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner ol .active i {
    background-color: #fff;
}

/* 新鲜好物 */
/* 标题————公共样式 */
.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: pink; */
}

.title .left {
    display: flex;
}

.title .left h3 {
    margin-right: 35px;
    font-size: 30px;
}

.title .left p {
    align-self: flex-end;
    color: #a1a1a1;
}

.title .right .more {
    line-height: 42px;
    color: #a1a1a1;
}

.title .right .more .iconfont {
    margin-left: 10px;
}

/* 好物内容————公共样式 */
.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
}

.bd li .pic {
    width: 304px;
    height: 304px;
}

.bd li .txt {
    text-align: center;
}

.bd li .txt h4 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 20px;
}

.goods .bd li .txt p {
    color: #aa2113;
    font-size: 18px;
}

.goods .bd li .txt p span {
    margin-left: 3px;
    font-size: 22px;
}

/* 人气推荐 */
.recommend .bd li {
    background-color: #fff;
}

.recommend .bd p {
    color: #a1a1a1;
}

/* 热门品牌 */
.brand {
    margin-top: 60px;
    height: 468px;
    background-color: #f5f5f5;
}

.brand .wrapper {
    /* 解决外边界塌陷问题 */
    overflow: hidden;
    height: 468px;
    /* background-color: pink; */
}

.brand .title {
    position: relative;
    margin-bottom: 40px;
}

.brand .button {
    position: absolute;
    right: 0;
    bottom: -25px;
    /* 让a在一行显示，宽高生效 */
    display: flex;
}

.brand .button a {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.brand .button .prev {
    background-color: #ddd;
}

.brand .button .next {
    background-color: #00be9a;
}

.brand .bd li {
    width: 244px;
    height: 306px;
}

/* 生鲜区域 */
.fresh  .title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.title .right {
    display: flex;
}


.title .right ul {
    display: flex;
    margin-top: 10px;
    margin-right: 58px;
}


.title .right ul a {
    padding: 0 7px;
    display: block;
    margin-left: 6px;
    height: 20px;
    line-height: 20px;
}

.title .right ul .active {
    background-color: #00be9a;
    color: #fff;
}

/* 生鲜内容 */
.content {
    display: flex;
    justify-content: space-between;
}

.content .left {
    width: 248px;
    height: 610px;
    /* background-color: pink; */
}

.content .right {
    width: 968px;
    height: 610px;
    /* background-color: pink; */
}

.content .right ul {
    display: flex;
    flex-wrap: wrap;
}

.content .right li {
    overflow: hidden;
    position: relative;
    padding: 10px 21px 0;
    border: 2px solid #fff;
    width: 242px;
    height: 305px;
}

/* 产品内容 */
.content .pic {
    width: 200px;
    height: 180px;
}

.content .info {
    margin-top: 14px;
    margin-bottom: 5px;
    height: 60px;
    line-height: 19px;
}

.content .price {
    color: #af2f22;
}

.content .price span {
    margin-left: 5px;
    font-size: 22px;
}

/* 产品底部绿色区域 */
.content li .cover {
    position: absolute;
    bottom: -86px;
    left: 0;
    padding-top: 15px;
    width: 242px;
    height: 84px;
    background-color: #00be9a;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
}

.content li .cover p:first-child {
    font-size: 18px;
}

.content li .cover p:nth-child(2) {
    margin: 3px auto 6px;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.11);
}

.content li .cover p:last-child {
    font-size: 13px;
    cursor: pointer;
}

.content li .cover p:last-child .iconfont {
    font-size: 13px;
}

/* 鼠标悬停到li，显示cover，改变位置 */
.content .right li:hover .cover {
    bottom: 0;
}

.content .right li:hover {
    border: 2px solid #00be9a;
}

/* 最新专题区域 */
.topic {
    margin-bottom: 40px;
}

.topic .title {
    margin-bottom: 100px;
}

.topic-bd ul { 
    display: flex;
    justify-content: space-between;
}

.topic-bd li {
    width: 405px;
    height: 355px;
    /* background-color: pink; */
}

.topic-bd li .pic {
    position: relative;
    width: 405px;
    height: 288px;
}

.topic-bd li .txt {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 405px;
    height: 67px;
    /* background-color: #00be9a; */
    font-size: 14px;
    color: #666;
}

.topic-bd li .txt .left {
    display: flex;
}

.topic-bd li .txt .left p {
    margin-right: 20px;
}

.topic-bd li:first-child .txt .left p:first-child i {
    color: #aa2113;
}

/* 定位区域-文字 */
.topic-bd .cover {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 405px;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(137,137,137,0.00) 0%, rgba(0,0,0,0.90) 100%);
}

.topic-bd .cover .left {
    color: #fff;
}

.topic-bd .cover .left h4 {
    margin-bottom: 6px;
    font-size: 20px;
}

.topic-bd .cover .right {
    padding: 0 7px;
    height: 25px;
    background-color: #fff;
    color: #aa2113;
    font-size: 15px;
}

.topic-bd .cover .right span {
    font-size: 18px;
}